@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
html,body{
    margin: 0;
    padding: 0;
    background-color: #c2c2c243 !important;
}

#navbar{
    background-color: #C2C2C2;
    color: black;
    font-family: 'Parisienne', cursive;
}
.nav-item{
    color: black;
    font-size: 25px;
}
#footer{
    background-color: #C2C2C2;
}


#content-product{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 800px;
}

#card{
    width: 200px;
    margin: 30px;  
    border: 1px solid black; 
}

.img-fluid{
    width: 120px;
    height: 120px;
}

#flex{
    display: flex;
    justify-content: center;
}
.footer{
    color: black;
}